html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

#main > div {
	text-align: center;
}

#game-panel {
	flex: 1 0 0;
}

#game-canvas {
	flex: 5 0 0;
	border: 1px solid #000;
}

/*Tower Radio Buttons*/
#tower-select input{
	position: absolute;
	left: -10000px;
}

#tower-select img{
	width: 50px;
	cursor: pointer;
}

.tower_img{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	color: white;
	background-color: #B0B0B0;
	transition: all 0.5s;
}

.active{
	background-color: grey;
	border-radius: 50%;
	animation: glow 2s infinite linear;
}

@keyframes glow{
	0% , 100%{
		box-shadow: 0 0 15px rgba(246, 185, 59, 0);
	}
	50%{
		box-shadow: 0 0 35px rgba(246, 186, 59, .9);
	}
}

table {
	text-align: left;
}


input {
	color: inherit;
	background-color: inherit;
	border: none;
}

#inventory {
	margin: auto;
}

#inventory img {
	max-width: 50px;
	max-height: 50px;
}