html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#main > div {
	text-align: center;
}

#game-canvas {
	margin-top: 50px;
	border: 1px solid #000;
}