body {
	font-family: 'VT323', monospace;
	font-size: 1em;

}

ul{
	list-style-type: none;
	margin: 0;
}

.header {
	width: 100%;
	background-color: orange;
	height: 4em;
	&__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}
}

.footer {
	width: 100%;
	background-color: orange;
	height: 4.5em;
	&__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}
}