$uiBG: #1C1F33;
$uiFont: #FF5E5B;
$hpbarBG: #FF5E5B;

body {
	font-family: 'VT323', monospace;

}

ul{
	list-style-type: none;
	margin: 0;
}

.header {
	font-size: 2em;
	width: 100%;
	background-color: $uiBG;
	color: $uiFont;
	padding: 0.5em;
	&__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}
}

.footer {
	font-size: 2em;
	max-width: 100%;
	background-color: $uiBG;
	color: $uiFont;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
	&__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}
	&__hp {
		position: relative;
		color: white;
		display:inline-block;
		width: 200px;
		text-align: center;
		background-color: $hpbarBG;
	}
}